@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: auto;
}

header {
  background-color: #202020;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .logo {
  display: flex;
  padding: 10px;
}
header nav .logo p {
  padding: 15px;
  left: 56px;
  top: 13px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
header nav ul li {
  display: inline;
  margin: 15px;
}
header nav ul li .button_Contact {
  width: 128px;
  height: 44px;
  left: 1045px;
  top: 4.5px;
  background: #FF3839;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: none;
  margin-left: 45px;
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.page_one {
  background: #1E1E1E;
}
.page_one .general {
  background-image: url("../img/graphic-designers-meeting.png");
  width: 100%;
  height: 100vh;
}
.page_one .general .container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}
.page_one .general .container .overphoto {
  padding-top: 100px;
}
.page_one .general .container .overphoto hr {
  margin: auto;
  width: 300px;
  border: 1px solid #FF3839;
  margin-top: 15px;
}
.page_one .general .container .overphoto .p1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.page_one .general .container .overphoto .p1 span {
  color: red;
}
.page_one .general .container .overphoto .p2 {
  width: 600px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: auto;
  margin-top: 10px;
}
.page_one .general .container .overphoto .p3 {
  width: 800px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: auto;
  margin-top: 20px;
}
.page_one .general .container .buttons {
  margin-top: 20px;
}
.page_one .general .container .buttons a {
  text-decoration: none;
}
.page_one .general .container .buttons .btn1 {
  width: 150px;
  background: #FF3839;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.page_one .general .container .buttons .btn2 {
  width: 150px;
  background: #FFFFFF;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #202020;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.page_two {
  background-color: #ffffff;
  padding-bottom: 70px;
}
.page_two .general_two .container {
  max-width: 1100px;
  margin: auto;
}
.page_two .general_two .container .two_all {
  display: flex;
  justify-content: space-between;
}
.page_two .general_two .container .two_all .two_img {
  position: relative;
  margin-top: 50px;
}
.page_two .general_two .container .two_all .two_img img:nth-child(1) {
  position: absolute;
  z-index: 1;
  height: 350px;
  top: 0%;
  right: 100%;
  transform: translate(100%, 10%);
}
.page_two .general_two .container .two_all .two_img img:nth-child(2) {
  width: 280px;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 100%;
  transform: translate(70%, 50%);
  height: 272px;
}
.page_two .general_two .container .two_all .two_text {
  margin-top: 80px;
}
.page_two .general_two .container .two_all .two_text p:nth-child(1) {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.03em;
}
.page_two .general_two .container .two_all .two_text p span {
  color: #FF3839;
}
.page_two .general_two .container .two_all .two_text p:nth-child(3) {
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #696969;
  margin-top: 20px;
}
.page_two .general_two .container .two_all .two_text h1 {
  display: inline-block;
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #000000;
}
.page_two .general_two .container .two_all .two_text h1 span {
  color: #FF3839;
}
.page_two .general_two .container .two_all .two_text button {
  width: 150px;
  height: 40px;
  background: #FF3839;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.page_three {
  background: #202020;
  padding: 70px 0;
}
.page_three .general_three .container {
  max-width: 1100px;
  margin: auto;
}
.page_three .general_three .container .three_all {
  display: flex;
  justify-content: space-between;
}
.page_three .general_three .container .three_all .three_text p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #F8F8F8;
}
.page_three .general_three .container .three_all .three_text p:nth-child(1) span {
  color: #FF3839;
}
.page_three .general_three .container .three_all .three_text p:nth-child(3) {
  width: 530px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 20px;
}
.page_three .general_three .container .three_all .three_text h1 {
  width: 400px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.page_three .general_three .container .three_all .three_text h1 span {
  color: #FF3839;
}
.page_three .general_three .container .three_all .three_text button {
  width: 150px;
  height: 40px;
  background: #FF3839;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
.page_three .general_three .container .three_all .three_img .first_two {
  display: flex;
}
.page_three .general_three .container .three_all .three_img .first_two .ux {
  width: 263px;
  height: 168px;
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  position: relative;
}
.page_three .general_three .container .three_all .three_img .first_two .ux h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 30px;
}
.page_three .general_three .container .three_all .three_img .first_two .ux p {
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
  margin-top: 10px;
}
.page_three .general_three .container .three_all .three_img .first_two .ux img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  top: 0;
  left: 7%;
  transform: translate(100%, -50%);
  padding: 10px;
}
.page_three .general_three .container .three_all .three_img .first_two .development {
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  position: relative;
}
.page_three .general_three .container .three_all .three_img .first_two .development img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  top: 0;
  left: 7%;
  transform: translate(100%, -50%);
  padding: 10px;
}
.page_three .general_three .container .three_all .three_img .first_two .development p {
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
  margin-top: 10px;
}
.page_three .general_three .container .three_all .three_img .first_two .development h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 30px;
}
.page_three .general_three .container .three_all .three_img .second_two {
  display: flex;
  margin-top: 30px;
}
.page_three .general_three .container .three_all .three_img .second_two .mobile_development {
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  position: relative;
}
.page_three .general_three .container .three_all .three_img .second_two .mobile_development h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 30px;
}
.page_three .general_three .container .three_all .three_img .second_two .mobile_development p {
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
  margin-top: 10px;
}
.page_three .general_three .container .three_all .three_img .second_two .mobile_development img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  top: 0;
  left: 7%;
  transform: translate(100%, -50%);
  padding: 10px;
}
.page_three .general_three .container .three_all .three_img .second_two .seo {
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  position: relative;
}
.page_three .general_three .container .three_all .three_img .second_two .seo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  top: 0;
  left: 7%;
  transform: translate(100%, -50%);
  padding: 10px;
}
.page_three .general_three .container .three_all .three_img .second_two .seo p {
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
  margin-top: 10px;
}
.page_three .general_three .container .three_all .three_img .second_two .seo h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 30px;
}

.page_four {
  padding: 70px 0;
}
.page_four .general_four {
  background-color: #FFFFFF;
}
.page_four .general_four .container {
  max-width: 1100px;
  margin: auto;
}
.page_four .general_four .container .four_all {
  margin-top: 40px;
  text-align: center;
}
.page_four .general_four .container .four_all p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #696969;
}
.page_four .general_four .container .four_all h1 {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
}
.page_four .general_four .container .four_all h1 span {
  color: #FF3839;
}
.page_four .general_four .container .four_all .four_buttons {
  margin-top: 45px;
}
.page_four .general_four .container .four_all .four_buttons .btn_one {
  width: 70px;
  height: 40px;
  background: #FF3839;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.page_four .general_four .container .four_all .four_buttons .btn_two {
  width: 90px;
  height: 40px;
  background: #F2F2F2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.page_four .general_four .container .four_all .four_buttons .btn_three {
  width: 158px;
  height: 40px;
  background: #F2F2F2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.page_four .general_four .container .four_all .four_buttons .btn_four {
  width: 210px;
  height: 40px;
  background: #F2F2F2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.page_four .general_four .container .four_all .four_buttons .btn_five {
  width: 80px;
  height: 40px;
  background: #F2F2F2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
.page_four .general_four .container .four_all .four_img {
  display: flex;
  margin-top: 55px;
}
.page_four .general_four .container .four_all .four_img img:nth-child(1) {
  width: 360px;
  height: 380px;
}
.page_four .general_four .container .four_all .four_img img:nth-child(2) {
  padding: 0 20px;
  width: 360px;
  height: 430px;
}
.page_four .general_four .container .four_all .four_img img:nth-child(3) {
  width: 360px;
  height: 380px;
}

.page_five .general_five {
  background-color: #202020;
}
.page_five .general_five .container {
  max-width: 1100px;
  margin: auto;
}
.page_five .general_five .container .top_div {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.page_five .general_five .container .top_div .left {
  display: flex;
}
.page_five .general_five .container .top_div .left .solid_one {
  width: 140px;
  height: 1px;
  background-color: #D8D8D8;
  margin-top: 10px;
}
.page_five .general_five .container .top_div .left p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #F7F7F7;
  margin-left: 10px;
}
.page_five .general_five .container .top_div .left p span {
  color: #FF3839;
}
.page_five .general_five .container .top_div .right {
  display: flex;
}
.page_five .general_five .container .top_div .right .solid_two {
  width: 140px;
  height: 1px;
  background-color: #D8D8D8;
  margin-top: 9px;
}
.page_five .general_five .container .top_div .right .circle {
  width: 16px;
  height: 16px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin-left: 3px;
}
.page_five .general_five .container .top_div .right .circle1 {
  width: 16px;
  height: 16px;
  background: #202020;
  border: 1px solid #FF3839;
  border-radius: 50%;
  margin-left: 3px;
}
.page_five .general_five .container .five_all {
  padding: 70px 0;
}
.page_five .general_five .container .five_all h1 {
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 15px;
}
.page_five .general_five .container .five_all h1 span {
  color: #FF3839;
}
.page_five .general_five .container .five_all .five_box {
  display: flex;
  margin-top: 70px;
}
.page_five .general_five .container .five_all .five_box .box_one {
  width: 330px;
  height: 168px;
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  position: relative;
}
.page_five .general_five .container .five_all .five_box .box_one p {
  width: 290px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
}
.page_five .general_five .container .five_all .five_box .box_one .one_img1 img {
  margin-top: 5px;
}
.page_five .general_five .container .five_all .five_box .box_one .one_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  top: 0;
  right: 23%;
  transform: translate(-100%, -50%);
  padding: 10px;
}
.page_five .general_five .container .five_all .five_box .box_one h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 35px;
}

.page_six {
  padding: 80px;
}
.page_six .general_six {
  background-color: #ffffff;
}
.page_six .general_six .container {
  max-width: 1100px;
  margin: auto;
}
.page_six .general_six .container .six_all .six_top {
  display: flex;
  justify-content: center;
}
.page_six .general_six .container .six_all .six_top .six_solid {
  width: 163px;
  height: 1px;
  background-color: #D8D8D8;
  margin-top: 10px;
}
.page_six .general_six .container .six_all .six_top p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #696969;
  padding: 0 10px;
}
.page_six .general_six .container .six_all .six_main {
  text-align: center;
}
.page_six .general_six .container .six_all .six_main h1 {
  margin: auto;
  width: 450px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125.5%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #202020;
  margin-top: 30px;
}
.page_six .general_six .container .six_all .six_main h1 span {
  color: #FF3839;
}
.page_six .general_six .container .six_all .six_main .six_boxes {
  position: relative;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_one {
  margin: auto;
  margin-top: 70px;
  width: 800px;
  height: 60px;
  background: #202020;
  border-radius: 5px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_one p:nth-child(1) {
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 17px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_one p:nth-child(3) {
  margin: auto;
  width: 650px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #696969;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_one i {
  position: absolute;
  color: #ffffff;
  bottom: 91%;
  right: 16%;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_two {
  margin: auto;
  margin-top: 70px;
  width: 800px;
  height: 60px;
  background: #F1F1F1;
  border-radius: 5px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_two p {
  margin-top: 100px;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #333335;
  padding: 17px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_two i {
  position: absolute;
  color: #202020;
  bottom: 57%;
  right: 16%;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_three {
  margin: auto;
  width: 800px;
  height: 60px;
  background: #F1F1F1;
  border-radius: 5px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_three p {
  margin-top: 20px;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #333335;
  padding: 17px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_three i {
  position: absolute;
  color: #202020;
  bottom: 39%;
  right: 16%;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_four {
  margin: auto;
  width: 800px;
  height: 60px;
  background: #F1F1F1;
  border-radius: 5px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_four p {
  margin-top: 20px;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #333335;
  padding: 17px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_four i {
  position: absolute;
  color: #202020;
  top: 75%;
  right: 16%;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_five {
  margin: auto;
  width: 800px;
  height: 60px;
  background: #F1F1F1;
  border-radius: 5px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_five p {
  margin-top: 20px;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #333335;
  padding: 17px;
}
.page_six .general_six .container .six_all .six_main .six_boxes .boxes_five i {
  position: absolute;
  color: #202020;
  bottom: 5%;
  right: 16%;
}

.page_seven .general_seven {
  background-color: #F1F1F1;
  padding: 70px 0;
}
.page_seven .general_seven .container .seven_all {
  display: flex;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_contact {
  display: flex;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_contact .seven_solid {
  width: 140px;
  height: 1px;
  background-color: #D8D8D8;
  margin-top: 8px;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_contact p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #FF3839;
  margin-left: 10px;
}
.page_seven .general_seven .container .seven_all .seven_left h1 {
  width: 550px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 15px 0;
}
.page_seven .general_seven .container .seven_all .seven_left h1 span {
  color: #FF3839;
}
.page_seven .general_seven .container .seven_all .seven_left p {
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #696969;
  margin-bottom: 20px;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input {
  display: flex;
  flex-direction: column;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .name input {
  width: 500px;
  height: 30px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  padding: 15px;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .name input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .name input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .email input {
  width: 500px;
  height: 30px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  padding: 15px;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .email input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .email input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .message textarea {
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  padding: 15px;
  border-radius: 5px;
  resize: none;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .message textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}
.page_seven .general_seven .container .seven_all .seven_left .seven_input .message textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}
.page_seven .general_seven .container .seven_all .seven_left button {
  width: 170px;
  height: 40px;
  background: #FF3839;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
.page_seven .general_seven .container .seven_all .seven_right img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #202020;
}
footer .footer_general {
  padding: 50px 0;
}
footer .footer_general .container {
  max-width: 1100px;
  margin: auto;
}
footer .footer_general .container .footer_all {
  display: flex;
  justify-content: space-between;
}
footer .footer_general .container .footer_all .footer_one .footer_logo {
  display: flex;
}
footer .footer_general .container .footer_all .footer_one .footer_logo p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-left: 10px;
}
footer .footer_general .container .footer_all .footer_one p {
  margin-top: 40px;
  width: 350px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #F8F8F8;
}
footer .footer_general .container .footer_all .footer_one .footer_icons {
  margin-top: 15px;
}
footer .footer_general .container .footer_all .footer_one .footer_icons a {
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  background-color: #FF3839;
  padding: 5px 15px;
  margin-left: 5px;
}
footer .footer_general .container .footer_all .footer_one .footer_icons a i {
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .footer_general .container .footer_all .footer_two {
  display: flex;
}
footer .footer_general .container .footer_all .footer_two .footer_services p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.2817px;
  line-height: 30px;
  color: #FFFFFF;
}
footer .footer_general .container .footer_all .footer_two .footer_services .services_menu {
  margin-top: 20px;
}
footer .footer_general .container .footer_all .footer_two .footer_services .services_menu ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15.0282px;
  line-height: 41px;
  color: #FFFFFF;
}
footer .footer_general .container .footer_all .footer_three .footer_resources p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.2817px;
  line-height: 30px;
  color: #FFFFFF;
}
footer .footer_general .container .footer_all .footer_three .footer_resources .resources_menu {
  margin-top: 20px;
}
footer .footer_general .container .footer_all .footer_three .footer_resources .resources_menu ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15.0282px;
  line-height: 41px;
  color: #FFFFFF;
}
footer .footer_general .container .footer_all .footer_four .footer_contact p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.2817px;
  line-height: 30px;
  color: #FFFFFF;
}
footer .footer_general .container .footer_all .footer_four .footer_contact .contact_menu {
  margin-top: 20px;
}
footer .footer_general .container .footer_all .footer_four .footer_contact .contact_menu ul li i {
  color: #FF3839;
}
footer .footer_general .container .footer_all .footer_four .footer_contact .contact_menu ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15.0282px;
  line-height: 41px;
  color: #FFFFFF;
  margin-left: 10px;
}
footer .footer_general .container hr {
  width: 1100px;
  opacity: 0.12;
  border: 1px solid #FFFFFF;
  margin-top: 70px;
}
footer .footer_general .container .footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_general .container .footer_bottom .bottom_left {
  margin-top: 25px;
}
footer .footer_general .container .footer_bottom .bottom_left p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #FFFFFF;
}
footer .footer_general .container .footer_bottom .bottom_right {
  margin-top: 25px;
}
footer .footer_general .container .footer_bottom .bottom_right ul li {
  display: inline;
}
footer .footer_general .container .footer_bottom .bottom_right ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 36px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */